/*! Normalize */

@import url(https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Raleway);
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab|Antic+Slab);
button, hr, input {
    overflow: visible;
}

audio, canvas, progress, video {
    display: inline-block;
}

progress, sub, sup {
    vertical-align: baseline;
}

[type=checkbox], [type=radio], legend {
    box-sizing: border-box;
    padding: 0;
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}

b, strong {
    font-weight: bolder;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, select {
    text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: ButtonText dotted 1px
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

[hidden], template {
    display: none
}

/* end of Normalize */

/*! * Font Awesome */

@font-face {
    font-family: 'FontAwesome';
    src: url(../fonts/fontawesome-webfont.eot?v=4.7.0);
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff2?v=4.7.0) format("woff2"), url(../fonts/fontawesome-webfont.woff?v=4.7.0) format("woff"), url(../fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"), url(../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg");
    font-weight: 400;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-chevron-down:before {
    content: "\f078"
}

.fa-chevron-down:hover {
    color: whitesmoke;
}

.fa-linkedin-square:before {
    content: "\f08c"
}

.fa-github-square:before {
    content: "\f092"
}

.fa-unlock:before {
    content: "\f09c"
}

.fa-envelope:before {
    content: "\f0e0"
}

.fa-linkedin:before {
    content: "\f0e1"
}

.fa-github-alt:before {
    content: "\f09b";
}

/*! * end of Font Awesome */

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    color: #555;
    font-family: 'Antic Slab', serif
}

article, aside, figcaption, figure, footer, header, nav, section {
    display: block
}

h1, h2, h3, h4, stong {
    margin-top: 1em;
    padding-top: 1em;
    line-height: 1.25;
    color: #333
}

h1 {
    font-size: 2.5rem
}

h2 {
    font-size: 2rem
}

h3 {
    font-size: 1.5rem
}

h4 {
    font-size: 1rem
}

ol, ul {
    padding-left: 40px
}

figure, ol, p, ul {
    margin: 1em 0
}

a img {
    border: none
}

sub, sup {
    line-height: 0
}

@-webkit-keyframes pulse {
    0%, to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0
    }
    50% {
        -ms-filter: none;
        -webkit-filter: none;
        filter: none;
        opacity: 1;
        top: -10px
    }
}

@keyframes pulse {
    0%, to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0
    }
    50% {
        -ms-filter: none;
        -webkit-filter: none;
        filter: none;
        opacity: 1;
        top: -10px
    }
}

#particles-js {
    background: #574150;
    display: flex;
    vertical-align: bottom;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

#particles-js .particles-js-canvas-el {
    height: 100vh !important
}

header {
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

article header {
    position: inherit;
    transform: none;
}

header .site-title {
    font-size: 50px;
    font-family: 'Elephant', serif;
    display: block;
    line-height: 1;
    color: #fff
}

@media only screen and (min-width:768px) {
    header .site-title {
        margin: 0;
        font-size: 76px
    }
}

header .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #fff;
    margin-top: 10px
}

@media only screen and (min-width:768px) {
    header .site-description {
        font-size: 34px
    }
}

.header-links {
    margin: 10px
}

.header-links .link {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    margin: 10px
}

.header-links .link:hover {
    text-decoration: underline;
}

@media only screen and (min-width:768px) {
    .header-links .link {
        font-size: 20px
    }
}

.header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.header-icons a {
    border: none !important;
    padding: none;
    margin: none
}

.down, .header-icons .icon {
    color: #fff;
    text-align: center
}


.header-icons .icon {
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    transition: all .5s;
    width: 20px;
    font-size: 20px;
    margin: 5px;
    border: 2px solid #fff
}

.header-icons .icon:active, .header-icons .icon:hover {
    color: #1a222c;
    background: #fff
}

@media only screen and (min-width:768px) {
    .header-icons .icon {
        width: 30px;
        height: 30px;
        font-size: 30px;
        line-height: 30px
    }
}

.down {
    position: absolute;
    bottom: 25px;
    width: 100%;
    margin: 0 auto;
    display: block;
    font-size: 30px;
    line-height: 30px;
    cursor: pointer;
    border: none !important;
}

.down .icon {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    fill: #fff;
    -webkit-animation: pulse 1.3s infinite;
    animation: pulse 1.3s infinite
}

#about {
    font-size: 120%;
    width: 90%;
    margin: 0 auto;
    max-width: 960px
}

@media only screen and (min-width:768px) {
    #about {
        width: 80%
    }
}

#about svg {
    width: 60px !important;
    height: auto
}

.tech {
    margin: 10px;
    flex: 1 1 0
}

.tech h2, .tech h3, .user-details h1, body {
    font-weight: 400
}

.user {
    text-align: center;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.user p {
    font-size: 16px
}

@media only screen and (min-width:768px) {
    .user {
        flex-wrap: nowrap;
        font-size: 75px
    }
}

.user-details {
    text-align: center;
    margin: 5px auto
}

footer {
    background: #1a222c;
    padding: 10px 0;
    text-align: center;
    color: #fff
}

footer .love {
    color: white;
}

footer a {
    text-decoration: none;
    margin: 0;
    color: #fff
}

.post-preview {
    text-decoration: none !important;
    display: block;
}

.post-title:hover {
    text-decoration: underline;
}

.post-title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 0;
    color: white;
}

.post-meta {
    color: #808080;
    font-size: 18px;
    font-style: italic;
    margin: 0 0 10px;
}

.canvas-blog canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    filter: blur(7px);
}

.canvas-blog article {
    transform: none;
    width: 60%;
    text-align: initial;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    color: #fff;
    top: 50%;
    left: 50%;
    margin: 0 auto;
}

.page-title {
    color: white;
}

.article-body h2 {
    color: #d8aaaa;
}

.author {
    text-decoration: none;
}

button#to-the-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #886973;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    animation: toTheTop 1s 1 cubic-bezier(.77, 0, .175, 1);
}

@keyframes toTheTop {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#disqus_thread {
    position: relative;
    width: 60%;
    transform: none;
    margin: 0 auto;
}